.chat-connent {
    background: #e0e0de;
    border-radius: 5px;
  }
  
  .bottom-div { 
    bottom: 0;
    width: 100%;
    position: fixed;
    background: #C7C7CC;
  }
  
  .input-text
  {
     -moz-border-radius: 15px;
      border-radius: 15px;
      border: solid 1px #C7C7CC; 
      padding: 5px;
      width: 100%;
  }
  
  .send-button {
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-weight: bold;
    width: 19%;
    font-size: 2.2rem;
    color: black;
    background: #C7C7CC;
  }
  
  .content-background {
    background: #e0e0de;
  }
  
  
  
  .selection-button {
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 25px;
    font-weight: bold;
    font-size: 16px;
    color: #116CEE;
    margin-bottom: 8px;
    background: white;
    border: 1px solid #116CEE !important;
  }
  
  .msj-rta {
    float: right;
    background: white;
  }
  
  .msj {
    float: left;
    background: white;
  }
  
  .macro {
    margin-top: 5px;
    min-width: 10%;
    max-width: 85%;
    border-radius: 5px;
    padding: 5px;
    display: flex;
  }
  
  .text-r {
    float: right;
    padding-left: 10px;
  }
  
  .text-l {
    float: left;
    padding-right: 10px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 85%;
    white-space: pre-line;
  }
  
  .text > p:first-of-type {
    width: 100%;
    margin-top: 0;
    margin-bottom: auto;
    line-height: 15px;
    font-size: 15px;
  }
  
  p {
    margin: 0 0 10px;
  }
  
  small {
    font-size: 75%;
  }
  
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding-right: 10px;
  }
  
  .img-circle {
    // border-radius: 50%;
    float: left;
    width: 34px;
    height: 34px;
    margin: 2px 5px 0px 5px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  img {
    vertical-align: middle;
  }
  
  .align-right{
    text-align: right;
  }
  
  