 <ion-header>
      <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Chat Box</ion-title>
      </ion-navbar>
    </ion-header>
  <ion-content class="chat-connent">
    <ion-list no-lines>
      <ion-item class="content-background" *ngFor="let message of chatList; let i = index" >
        <div  [ngClass]="{'last-msg': i == chatList.length-1}">
          <div class="msj-rta macro" *ngIf="message.sent">
            <div class="text text-r">
              <p>{{ message.text }}</p>
              <p class="align-right"><small>{{ message.time }}</small></p>
            </div>
            <div class="avatar" style="padding:0px 0px 0px 50px !important">
              <img class="img-circle"  src="../../assets/icon/Webp.net-resizeimage.png">
            </div>
          </div>
          <div class="msj macro" *ngIf="!message.sent">
            <div class="avatar">
              <img class="img-circle" src="../../assets/icon/Webp.net-resizeimage.png">
            </div>
            <div class="text text-l">
              <p>{{ message.text }}</p>
              <p style="text-align: right;"><small>{{ message.time }}</small></p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
      <ion-toolbar *ngIf="isPopulateDataAvaialble">
        <div *ngIf="prePopulateType == 'button'">
          <span *ngFor="let item of prePopulateArray">
            <button class="selection-button" (click)="onSelection($event, item)">{{item.text}}</button>
          </span>
        </div>
        <div *ngIf="prePopulateType == 'checkBoxList'">
          <ion-list no-lines >
            <ion-item no-lines *ngFor="let item of prePopulateArray; let indx = index;">
              <ion-label>{{item.text}}</ion-label>
              <ion-checkbox (click)="onCheckBoxSelection(indx)"></ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
        <div *ngIf="prePopulateType == 'radio'">
          <ion-list radio-group  [(ngModel)]="radioSelected">
            <ion-item no-lines  *ngFor="let item of prePopulateArray; let indx = index;">
              <ion-radio value="{{item.text}}" (click)="onRadioSelection(item, indx)"></ion-radio>
              <ion-label>{{item.text}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-toolbar>
      <ion-toolbar>
        <input class="input-text" type="text"  placeholder="Type your message" (keydown)="addText($event)" [(ngModel)]="freeText" />
        <ion-buttons end>
          <button ion-button icon-right color="royal" (click)="addTextButton()">
            Send
            <ion-icon name="send"></ion-icon>
          </button>
          <!-- <button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"
          [disabled]="!showSearchButton">
            Enable Speech Search
          </button> -->
          <button id="start_button" [disabled]="!showSearchButton" (click)="activateSpeechSearchMovie()" style="display: inline-block;">
            <img alt="Start" id="start_img" *ngIf="!showSearchButton" src="https://www.google.com/intl/en/chrome/assets/common/images/content/mic-animate.gif">
            <img alt="Start" id="start_img" *ngIf="showSearchButton" src="https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif">
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  
  